@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #0082c3,
  $secondary: #00316b,
  $surface: #000000,
  $background: #000000,
  $error: color-palette.$red-900,
);

// Import all the styles for the classes.
@use '@material/typography/mdc-typography';
// The following classes become available:
//   mdc-typography--headline1
//   mdc-typography--headline2
//   mdc-typography--headline3
//   mdc-typography--headline4
//   mdc-typography--headline5
//   mdc-typography--headline6
//   mdc-typography--subtitle1
//   mdc-typography--subtitle2
//   mdc-typography--body1
//   mdc-typography--body2
//   mdc-typography--caption
//   mdc-typography--button
//   mdc-typography--overline
//   mdc-typography--body1
 
// Import the mixins.
@use '@material/typography/index' as typography;

:root {
  --fff: #000000;
  --ebebeb: #333;
  --f8f8f8: #070707;
  --f3f3f3: #0d0d0d;
  --ccc: #444;
  --eee: #1b1b1b;
  --ddd: #282828;
  --g444: #bbb;
  --d7d7d7: #171717;
  --g555: #aaa;
  --bbb: #444;
  --g999: #666;
  --aaa: #555;
  --boxShadowOne: #333;
  --boxShadowTwo: #4d4d4d;
  --boxShadowThree: #343434;
  --transactHeader: #2b2e2e;
  --draftSwapped: #202025;
  --waiverAdd: #3e4741;
  --waiverDrop: #423a3a;
  --bracketMatch: #0b0b0c;
  --fadeOne: rgba(0, 0, 0, 0) 0%;
  --fadeTwo: rgba(0, 0, 0, 0.7) 50%;
  --fadeThree: rgba(0, 0, 0, 0.9) 90%;
  --fadeFour: rgba(0, 0, 0, 1) 100%;
  --blueOne: #0082c3;
  --r1: #1c1c1d;
  --r2: #1f1d1d;
  --r3: #181a18;
  // Positions
  --QB: #311c23;
  --WR: #2b353f;
  --RB: #1c3634;
  --TE: #42382c;
  --K: #3c3144;
  --DEF: #2f2f23;
  --PICKS: #2b441b;
  --CB: #524126;
  --SS: #362f41;
  --FS: #424132;
  --DE: #2f373d;
  --DL: #3d2e42;
  --LB: #334132;
}

html,
body {
  position: relative;
  margin: 0;
  background-color: theme.$surface;
  color: theme.$on-surface;
  min-height: 100vh;
  background: #222;
  background: linear-gradient(to bottom right, #111,#222 );
  background: -webkit-linear-gradient(to bottom right, #111,#222 );
}
 
//
// Some defaults that may be helpful to you.
// If you just want to use these, and not the classes, you can instead just
// @use '@material/typography/index' as typography, and your CSS file will be smaller.
//
html {
  @include typography.typography('body1');
}
 
h1 {
  @include typography.typography('headline1');
}
 
h2 {
  @include typography.typography('headline2');
}
 
h3 {
  @include typography.typography('headline3');
}
 
h4 {
  @include typography.typography('headline4');
}
 
h5 {
  @include typography.typography('headline5');
}
 
h6 {
  @include typography.typography('headline6');
}
 
caption {
  @include typography.typography('caption');
}
 
code,
pre {
  font-family: 'Roboto Mono', monospace;
}
 
small {
  font-size: 0.9em;
}
 
big {
  font-size: 1.1em;
}
 
b,
strong {
  font-weight: bold;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-button--outlined:not(:disabled) {
  background-color: #070707 !important;
}